/* reseting the default value of browser */
*
{
    margin:0;
    padding:0;
   box-sizing: border-box;
   font-family: sans-serif;
}
/*styling heading*/
h1 {
    color: #2ecc71; /* Change the color to a shade of blue */
    font-family: 'Pacifico', cursive; /* Change the font family to 'Pacifico' or any other preferred font */
    font-weight: bolder;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
}


 body
 {
    background: linear-gradient(to right, #1a1a1a, #000);
 }
/* making this flex so that we can center the container.*/
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
     /* height: 75vh;  */
    width: 100vw;
    
}


.container {
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.time-container
{
    display:flex;
    font-size: 5rem;
    justify-content: space-around;
    height: 100px;
    margin-top: 25px;
    color: whitesmoke
}

.text-container
{
    display:flex;
    justify-content: space-around;
    height: 40px;
    color:wheat;
}
.hour ,.minute, .second ,p
{
    font-family:fantasy;
}


.btn-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start-btn, .stop-btn, .reset-btn {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: fantasy;
    font-size: 1rem;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.start-btn {
    background-color: turquoise;
    color: #fff;
}

.stop-btn {
    background-color: red;
    color: #fff;
}

.reset-btn {
    background-color: orange;
    color: #fff;
}
/*make cursor disable using javascript once button is clicked*/
.disable {
    cursor: not-allowed;
    opacity: 0.6;
}
